
.todoCard{
    width: 50%;
    margin: 5rem auto;
    background-color: rgb(33, 29, 29);
    color: rgb(19, 146, 249);
    height: 33vh;
    padding: 2rem;
    border-radius: 1rem;
}
.todoCard .btn-1{
    margin-top: 2rem;
    padding: 2px 4px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
     background-color: aqua;  
}
.todoCard .btn-2{
    background-color: lightcoral;
    margin-left: 3rem;
}
.todoCard .btn-3{
    background-color: rgb(223, 4, 4);
}
.strike-through{
    text-decoration: line-through;
    color: blue;
    
}
.sumbit{
    height: 10vh;
}
input{
    height: 6vh;
    width: 80%;
    border-radius: 10px;
}

.todoTask{
    width: 100%;
    margin: 2.5rem auto;
    
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgb(16, 175, 175);
    font-size: 2rem;
    align-items: baseline;
    color: black;
}
.todoTask button{
    margin-top: 2rem;
    padding: 2px 4px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin: 1rem;
}

